<a href="https://colab.research.google.com/github/MK2709/DS11-assigments/blob/main/D1461_METIN_DAwPy_Assignment_2_(Pandas)_(DS_DA_11_22_EU).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>


____

In [2]:
import pandas as pd

In [3]:
ecom = pd.read_csv('data.csv',encoding= 'unicode_escape')

**Check the head of the DataFrame.**

In [4]:
ecom.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

** How many rows and columns are there? **

In [5]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49912 entries, 0 to 49911
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    49912 non-null  object
 1   StockCode    49912 non-null  object
 2   Description  49770 non-null  object
 3   Quantity     49912 non-null  int64
 4   InvoiceDate  49912 non-null  object
 5   UnitPrice    49911 non-null  float64
 6   CustomerID   32030 non-null  float64
 7   Country      49911 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 3.0+ MB

** Show the statistical measurements of ecom dataset **

In [6]:
ecom.describe()

           Quantity     UnitPrice    CustomerID
count  49912.000000  49911.000000  32030.000000
mean       8.294218      6.423712  15426.016422
std       55.576019    166.653120   1752.300279
min    -9360.000000      0.000000  12347.000000
25%        1.000000      1.250000  14057.000000
50%        2.000000      2.510000  15464.000000
75%        8.000000      4.250000  17041.000000
max     2880.000000  16888.020000  18283.000000

** What is the average Purchase Price? **

In [7]:
ecom["UnitPrice"].mean()

6.42371220773067

** What were the highest and lowest purchase prices? **

In [8]:
ecom["UnitPrice"].max()

16888.02

In [9]:
ecom["UnitPrice"].min()

0.0

** List the country names and number of records belongs to each country **

In [10]:
ecom.Country.value_counts()

United Kingdom     46933
Germany              811
France               608
EIRE                 418
Spain                174
Norway               147
Portugal             141
Belgium               99
Australia             83
Cyprus                83
Netherlands           72
Japan                 69
Switzerland           49
Italy                 42
Sweden                41
Lithuania             35
Iceland               31
Denmark               20
Channel Islands       17
Finland               17
Austria                9
Poland                 8
Israel                 2
Bahrain                2
Name: Country, dtype: int64

** How many records are as Country United Kingdom? **

In [11]:
ecom[ecom["Country"] == "United Kingdom"].count()

InvoiceNo      46933
StockCode      46933
Description    46791
Quantity       46933
InvoiceDate    46933
UnitPrice      46933
CustomerID     29095
Country        46933
dtype: int64

** Create a column named Total which shows the total amount of spend using UnitPrice and Quantity ? **

In [12]:
ecom["Total"] = ecom["UnitPrice"]* ecom.Quantity
ecom.Total

0        15.30
1        20.34
2        22.00
3        20.34
4        20.34
         ...
49907     2.10
49908     4.95
49909     2.75
49910     3.75
49911      NaN
Name: Total, Length: 49912, dtype: float64

** Show total pending amount according to the Countries **

In [13]:
ecom.groupby("Country")["Total"].sum()/1000

Country
Australia            8.15948
Austria              0.25704
Bahrain              0.00000
Belgium              1.77501
Channel Islands      0.36353
Cyprus               1.59082
Denmark              1.28150
EIRE                 8.79728
Finland              0.89280
France              12.86875
Germany             18.38383
Iceland              0.71179
Israel              -0.22744
Italy                0.78685
Japan                7.59527
Lithuania            1.66106
Netherlands          8.78448
Norway               3.78712
Poland               0.24816
Portugal             2.73620
Spain                1.85640
Sweden               3.15386
Switzerland          1.30492
United Kingdom     752.70785
Name: Total, dtype: float64

** Which Country spend least? **

In [14]:
ecom.groupby("Country")["Total"].sum().sort_values(ascending = True)[:1]

Country
Israel   -227.44
Name: Total, dtype: float64

** Calculate average of spending according to country with apply function? **

In [ ]:
ecom.groupby("Country")["Total"].apply(np.mean)

** Calculate average,mean,max of spending according to country with agg function? **

In [ ]:
ecom.groupby("Country")["Total"].aggregate({"min","max","mean"})

** What is the max Total spending in whole dataset and show the records of that spending ?**

In [ ]:
ecom[ecom.Total == ecom.Total.max()]

** How many people who live in Spain spend more than average Total ?**

In [ ]:
ecom[(ecom.Total>ecom.Total.mean()) & (ecom.Country == "Spain")]

In [ ]:
ecom[(ecom.Total>ecom.Total.mean()) & (ecom.Country == "Spain")].count()

** Convert datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2**

In [ ]:
ecom["InvoiceDate2"] = pd.to_datetime(ecom.InvoiceDate)
ecom["InvoiceDate2"]

** Take only date values (year-month-day) from InvoiceDate2 and assign it to a new column named date **

In [ ]:
ecom.InvoiceDate2.dt.date

In [ ]:
ecom.date

In [ ]:
ecom.head()

** drop InvoiceDate2 and InvoiceDate columns permanently **

In [ ]:
ecom.drop(columns=["InvoiceDate2","InvoiceDate"],inplace=True)
ecom.head()

** Remove A, B, G and E from first 5 rows of ecom dataframe with a string method **

In [ ]:
ecom.StockCode[:5].str.replace("A","").str.replace("B","").str.replace("G","").str.replace("E","")

In [ ]:
ecom.StockCode[:5].str.extract("(\d+)",expand=False)

** take only Total and date columns with loc and craete a new df named ecom2 **

In [ ]:
ecom2 = ecom.loc[:,"Total":"date"]
ecom2

** take only InvoiceNo and CustomerID columns with iloc and craete a new df named ecom3 **

In [ ]:
ecom3 = ecom.iloc[:,[0,5,7]]
ecom3

** Combine ecom2 and ecom3 with concat **

In [ ]:
ecom_concat = pd.concat([ecom2,ecom3],axis = 1)
ecom_concat

** Combine ecom2 and ecom3 with merge **

In [ ]:
pd.merge(ecom2,ecom3)
ecom.duplicated().sum()
ecom_merge = pd.merge(ecom2.iloc[:400],ecom3.iloc[:400])
ecom_merge.drop_duplicates()

** Combine ecom2 and ecom3 with join **

In [ ]:
ecom2.join(ecom3,lsuffix="_left",rsuffix="_right")

# Congrats!